body {
    background-color: #eae7e7;
    line-height: 1.7;
    margin: 2em;
}

header {
    background-color: #793030;
    color: #fff;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

.functionality-emphasize {
    font-weight: bold;
    text-decoration:red dotted underline;
} 

section h2 {
    color: #793030;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

img {
    max-height: 50%;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body p {
    text-indent: 2em;
}

