body {
    background-color: #eae7e7;
    line-height: 1.7;
}

header {
    background-color: #793030;
    color: #fff;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

.functionality-emphasize {
    font-weight: bold;
    text-decoration:red dotted underline;
} 
.problem-description {

}

.website-description {
}

.functionality-walkthrough {
}

.external-resources {
    
}
